.character-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card{
    text-decoration: none;
    color: inherit;
}

.character-list-item {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background: #f8e6e6;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #cebed8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.character-list-item:hover {
    background: #f6c7c7;
    text-decoration: none;
    color: inherit;
}

.character-list-item .name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    flex: 1 1 auto;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    color: #8230bd;
}

.character-list-item p {
    margin: 4px 0;
    font-size: 14px;
}

.right-trash{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
}

.left-like{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 8px;
}

.icons button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.like{
    color: rgb(12, 2, 19);
}

.like.liked {
    color: red;
}

.trash-fill {
    display: none;
}

.like:hover {
    color: red;
}

.delete:hover .trash-outline {
    display: none;
}

.delete:hover .trash-fill {
    display: inline;
}

.moreButton{
    padding: 10px 20px;
    background: #f8e6e6;
    color: #0c0213;
    border: 2px solid #cebed8;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.moreButton:hover {
    background: #cebed8;
}

.all{
    padding: 10px 10px;
    background: #f8e6e6;
    border: 2px solid #cebed8;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
}

.all:hover {
    background: #cebed8;
}

.fav{
    padding: 10px 10px;
    background: #f8e6e6;
    border-radius: 6px;
    border: 2px solid #cebed8;
    cursor: pointer;
    margin-bottom: 10px;
}

.fav:hover {
    background: #cebed8;
}
