.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border-bottom: 3px solid rgb(206, 190, 216);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.home-link{
    text-decoration: none;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: 500;
}

.icon {
    font-size: 1.1rem;
}
